#container{
    height: 700px;
    width: 700px;
    background-color: rgb(146, 173, 246);
    border: 5px solid black;
    padding: 25px;
    margin: 0 auto;
    
}

img{
    height: 250px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: 25px;
    margin: 20px;
    align-items: center;
}

.name{
    display: flex;
    flex-wrap: wrap;
    
    
    justify-content: last baseline;
}
ul{
    font-weight: bold;
    list-style: none;
}


.footer{
    text-align: right;
}

h1{
    text-align: right;
}
